body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font-family: $body-font-family;
  color: $body-main-color;
  font-size: $body-font-size;
  line-height: $body-line-height;
}

body {
  overflow-x: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font-family;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.45;

  &:last-child {
    margin-bottom: 0;
  }
}

.h1,
h1 {
  font-size: 30px;
}

.h2,
h2 {
  font-size: 22px;
}

.h3,
h3 {
  font-size: 36px;
}

.h4,
h4 {
  font-size: 26px;
}

.h5,
h5 {
  font-size: 18px;
}

.h6,
h6 {
  font-size: 14px;
}

a,
button {
  @include transition($base-animation);
  cursor: pointer;
}

a {
  color: $link-color;
  text-decoration: none;

  &:focus,
  &:hover {
    color: darken($link-color, 10%);
    text-decoration: none;
  }
}

p {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.lead {
  font-size: 18px;
}