/* ASIDE */
$aside-width: 384px;

.aside {
  @extend .bg-muted, .d-flex, .flex-column;
  padding: 64px 24px;
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: $aside-width;
    height: 100%;
    min-height: 760px;
    padding-top: 104px;
    padding-bottom: 24px;
    overflow-y: auto;
  }

  .logo {
    @extend .flex-shrink-0;
    margin-left: 62px;
  }
}

.aside__inner {
  @extend .d-none, .d-lg-flex, .align-items-lg-center, .flex-grow-1, .my-5, .flex-shrink-0;
  padding-left: 62px;
  padding-right: 62px;
}

.aside__nav__item {
  @extend .font-primary-bold, .text-uppercase, .position-relative, .font-icons;
  font-size: 14px;
  padding-left: 48px;
  line-height: 24px;
  background: url("../images/elements/star.svg") no-repeat 0 50% / 24px 24px;

  &:not(:first-of-type) {
    margin-top: 38px;
  }

  &[aria-expanded="false"] {
    @extend .icon-ahub-chevron-down;
  }

  &[aria-expanded="true"] {
    @extend .icon-ahub-chevron-up;
  }

  &[aria-expanded="false"],
  &[aria-expanded="true"] {
    padding-right: 25px;

    &:before {
      @extend .position-absolute;
      right: 0;
      top: 0;
      font-size: 20px;
    }
  }
}

.aside__footer {
  @extend .d-none, .d-lg-block, .flex-shrink-0;
  @extend .text-gray;
  font-size: 14px;
}

.aside__nav__collapse {
  padding: 10px 10px 10px 47px;
  font-size: 14px;
}