/* ASIDE */
$aside-width: 384px;

.wrapper {
  padding: 36px 24px;
  @extend .d-md-flex, .flex-md-column, .overflow-hidden;
  @include media-breakpoint-up(lg) {
    padding: 36px 72px;
    margin-left: $aside-width;
    height: 100vh;
    min-height: 760px;
  }
}