/* Fonts */
//SFPro
@font-face {
  font-family: 'SFProDisplay-Light';
  src: url("#{$font-path}SFPro/SFProDisplay-Light.woff2") format('woff2'), url("#{$font-path}SFPro/SFProDisplay-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SFProDisplay-Bold';
  src: url("#{$font-path}SFPro/SFProDisplay-Bold.woff2") format('woff2'), url("#{$font-path}SFPro/SFProDisplay-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}