/* Fonts icons */
//Icomoon
@font-face {
  font-family: 'icomoon';
  src: url("#{$font-path}icomoon/icomoon.eot?xfatqp");
  src: url("#{$font-path}icomoon/icomoon.eot?xfatqp#iefix") format('embedded-opentype'), url("#{$font-path}icomoon/icomoon.ttf?xfatqp") format('truetype'), url("#{$font-path}icomoon/icomoon.woff?xfatqp") format('woff'), url("#{$font-path}icomoon/icomoon.svg?xfatqp#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-ahub-"],
[class*=" icon-ahub-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ahub-play:before {
  content: "\e90d";
}

.icon-ahub-bookmark:before {
  content: "\e907";
}

.icon-ahub-credit-card:before {
  content: "\e908";
}

.icon-ahub-pie-chart:before {
  content: "\e909";
}

.icon-ahub-star:before {
  content: "\e90a";
}

.icon-ahub-truck:before {
  content: "\e90b";
}

.icon-ahub-zap:before {
  content: "\e90c";
}

.icon-ahub-carret-down:before {
  content: "\e900";
}

.icon-ahub-carret-up:before {
  content: "\e901";
}

.icon-ahub-check-circle:before {
  content: "\e902";
}

.icon-ahub-check:before {
  content: "\e903";
}

.icon-ahub-chevron-down:before {
  content: "\e904";
}

.icon-ahub-chevron-up:before {
  content: "\e905";
}

.icon-ahub-close:before {
  content: "\e906";
}