/* VARIABLES */
/* Color variables */
$white: #ffffff;
$black: #2c323a;
$primary: #16993b;
$muted: #f1f3f7;
$gray: #78808d;
$pink: #979dfd;
$silver: #c1c7d2;
$dark: #47505f;
//Override Bootstrap color variables
.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-primary {
  color: $primary !important;
}

.text-muted {
  color: $muted !important;
}

.text-gray {
  color: $gray !important;
}

.text-pink {
  color: $pink !important;
}

.text-silver {
  color: $silver !important;
}

.text-dark {
  color: $dark !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-muted {
  background-color: $muted !important;
}

.bg-gray {
  background-color: $gray !important;
}

.bg-pink {
  background-color: $pink !important;
}

.bg-silver {
  background-color: $silver !important;
}

.bg-dark {
  background-color: $dark !important;
}
/*************************
	Fonts variables
*************************/
$font-primary-light: 'SFProDisplay-Light';
$font-primary-bold: 'SFProDisplay-Bold';

.font-primary-light {
  font-family: $font-primary-light;
}

.font-primary-bold {
  font-family: $font-primary-bold;
}
$font-icons: "icomoon";

.font-icons {
  &:before {
    font-family: $font-icons;
  }
}
/*************************
	Base variables
*************************/
$base-color: $black;
$base-font: $font-primary-light;
$base-animation: 250ms;
$base-radius: 3px;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";
/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;
/*************************
	Links variables
*************************/
$link-color: $primary;
/*************************
	Title variables
*************************/
$title-font-family: $font-primary-bold;