<aside class="aside">
  <a href="#" class="logo d-none d-lg-block">
    <img src="assets/images/elements/logo.svg" alt="" class="w-100">
  </a>

  <div class="aside__inner">
    <div class="language language__en">
      <div class="aside__nav">
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Network - a community of agriculture market participants (social network) for communication and exchanging information.">AHUB <span class="text-primary">Network</span></div>
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Market - a trading platform that will enable to conduct import-export trade transactions to both big and small players on equal terms.">AHUB <span class="text-primary">Market
          </span></div>
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Virtual Office - enables opening an office in any country of the world, hiring virtual managers, lawyers, economists and other specialists in the field of agriculture.">AHUB
          <span class="text-primary">virtual office</span></div>
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Bank - an online bank, financial instruments (secure transactions, salary project, cards, lending).">AHUB
          <span class="text-primary">bank</span></div>
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Logistics - a logistics solution service.">AHUB <span class="text-primary">Logistics</span></div>
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Analytics - an analytic agency.">AHUB
          <span class="text-primary">analytics</span></div>
      </div>
    </div>

    <div class="language language__ru">
      <div class="aside__nav">
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Network - сообщество участников аграрного рынка (соцсеть) для коммуникаций и обменом информации.">AHUB <span class="text-primary">Network</span></div>
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Market - торговая площадка позволит совершать экспортно-импортные сделки как крупным, так и мелким игрокам на равных условиях.">AHUB <span class="text-primary">Market
          </span></div>
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Virtual Office - позволяет в считанные минуты открыть представительство в любой стране, нанимать виртуальных менеджеров, юристов, экономистов и других специалистов из аграрной отрасли.">AHUB
          <span class="text-primary">virtual office</span></div>
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Bank - онлайн банк, финансовые инструменты (безопасные сделки, зарплатный проект, карты, кредитование).">AHUB
          <span class="text-primary">bank</span></div>
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Logistics - сервис логистических решений.">AHUB <span class="text-primary">Logistics</span></div>
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Analytics - аналитическое агентство.">AHUB
          <span class="text-primary">analytics</span></div>
      </div>
    </div>

    <div class="language language__es">
      <div class="aside__nav">
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Network - una comunidad de participantes del mercado agrícola (red social) para comunicaciones e intercambio de información.">AHUB <span class="text-primary">Network</span></div>
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Market - una plataforma comercial que permitirá realizar transacciones de exportación e importación para jugadores grandes y pequeños en condiciones iguales.">AHUB
          <span class="text-primary">Market
          </span></div>
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Virtual Office - permite abrir una oficina de representación en cualquier país en unos minutos, contratar de forma virtual a los gerentes, abogados, economistas y otros especialistas de la industria agrícola.">AHUB
          <span class="text-primary">virtual office</span></div>
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Bank - banco en línea, instrumentos financieros (transacciones seguras, proyecto de salario, tarjetas, concesión de préstamos).">AHUB
          <span class="text-primary">bank</span></div>
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Logistics - un servicio de soluciones logísticas.">AHUB <span class="text-primary">Logistics</span></div>
        <div class="aside__nav__item" data-toggle="tooltip" data-placement="top" title="AHUB Analytics - una agencia analítica.">AHUB
          <span class="text-primary">analytics</span></div>
      </div>
    </div>
  </div>

  <div class="aside__nav d-block d-lg-none">
    <div class="language language__en">
      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse1">AHUB <span class="text-primary">Network</span></div>
      <div class="collapse" id="collapse1">
        <div class="aside__nav__collapse">
          AHUB Network - a community of agriculture market participants (social network) for communication and exchanging information.
        </div>
      </div>

      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse2">AHUB <span class="text-primary">Market </span></div>
      <div class="collapse" id="collapse2">
        <div class="aside__nav__collapse">
          AHUB Market - a trading platform that will enable to conduct import-export trade transactions to both big and small players on equal terms.
        </div>
      </div>

      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse3">AHUB <span class="text-primary">virtual office</span></div>
      <div class="collapse" id="collapse3">
        <div class="aside__nav__collapse">
          AHUB Virtual Office - enables opening an office in any country of the world, hiring virtual managers, lawyers, economists and other specialists in the field of agriculture.
        </div>
      </div>

      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse4">AHUB <span class="text-primary">bank</span></div>
      <div class="collapse" id="collapse4">
        <div class="aside__nav__collapse">
          AHUB Bank - an online bank, financial instruments (secure transactions, salary project, cards, lending).
        </div>
      </div>

      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse5">AHUB <span class="text-primary">Logistics</span></div>
      <div class="collapse" id="collapse5">
        <div class="aside__nav__collapse">
          AHUB Logistics - a logistics solution service.
        </div>
      </div>

      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse6">AHUB <span class="text-primary">analytics</span></div>
      <div class="collapse" id="collapse6">
        <div class="aside__nav__collapse">
          AHUB Analytics - an analytic agency.
        </div>
      </div>
    </div>

    <div class="language language__ru">
      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse1">AHUB <span class="text-primary">Network</span></div>
      <div class="collapse" id="collapse1">
        <div class="aside__nav__collapse">
          AHUB Network - сообщество участников аграрного рынка (соцсеть) для коммуникаций и обменом информации.
        </div>
      </div>

      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse2">AHUB <span class="text-primary">Market </span></div>
      <div class="collapse" id="collapse2">
        <div class="aside__nav__collapse">
          AHUB Market - торговая площадка позволит совершать экспортно-импортные сделки как крупным, так и мелким игрокам на равных условиях.
        </div>
      </div>

      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse3">AHUB <span class="text-primary">virtual office</span></div>
      <div class="collapse" id="collapse3">
        <div class="aside__nav__collapse">
          AHUB Virtual Office - позволяет в считанные минуты открыть представительство в любой стране, нанимать виртуальных менеджеров, юристов, экономистов и других специалистов из аграрной отрасли.
        </div>
      </div>

      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse4">AHUB <span class="text-primary">bank</span></div>
      <div class="collapse" id="collapse4">
        <div class="aside__nav__collapse">
          AHUB Bank - онлайн банк, финансовые инструменты (безопасные сделки, зарплатный проект, карты, кредитование).
        </div>
      </div>

      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse5">AHUB <span class="text-primary">Logistics</span></div>
      <div class="collapse" id="collapse5">
        <div class="aside__nav__collapse">
          AHUB Logistics - сервис логистических решений.
        </div>
      </div>

      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse6">AHUB <span class="text-primary">analytics</span></div>
      <div class="collapse" id="collapse6">
        <div class="aside__nav__collapse">
          AHUB Analytics - аналитическое агентство.
        </div>
      </div>
    </div>

    <div class="language language__es">
      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse1">AHUB <span class="text-primary">Network</span></div>
      <div class="collapse" id="collapse1">
        <div class="aside__nav__collapse">
          AHUB Network - una comunidad de participantes del mercado agrícola (red social) para comunicaciones e intercambio de información.
        </div>
      </div>

      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse2">AHUB <span class="text-primary">Market </span></div>
      <div class="collapse" id="collapse2">
        <div class="aside__nav__collapse">
          AHUB Market - una plataforma comercial que permitirá realizar transacciones de exportación e importación para jugadores grandes y pequeños en condiciones iguales.
        </div>
      </div>

      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse3">AHUB <span class="text-primary">virtual office</span></div>
      <div class="collapse" id="collapse3">
        <div class="aside__nav__collapse">
          AHUB Virtual Office - permite abrir una oficina de representación en cualquier país en unos minutos, contratar de forma virtual a los gerentes, abogados, economistas y otros especialistas de la industria agrícola.
        </div>
      </div>

      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse4">AHUB <span class="text-primary">bank</span></div>
      <div class="collapse" id="collapse4">
        <div class="aside__nav__collapse">
          AHUB Bank - banco en línea, instrumentos financieros (transacciones seguras, proyecto de salario, tarjetas, concesión de préstamos).
        </div>
      </div>

      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse5">AHUB <span class="text-primary">Logistics</span></div>
      <div class="collapse" id="collapse5">
        <div class="aside__nav__collapse">
          AHUB Logistics - un servicio de soluciones logísticas.
        </div>
      </div>

      <div class="aside__nav__item collapsed" aria-expanded="false" data-toggle="collapse" data-target="#collapse6">AHUB <span class="text-primary">analytics</span></div>
      <div class="collapse" id="collapse6">
        <div class="aside__nav__collapse">
          AHUB Analytics - una agencia analítica.
        </div>
      </div>
    </div>
  </div>

  <div class="aside__footer">
    <address class="mb-0">
      2020 &copy; “AHUB”, Global Agrihub LLC<br />
      610 W. Broadway 201, Jackson, WY 83001<br />
      +1 (307) 333-08-68<br />
      ahub.com<br />
    </address>
  </div>

</aside>