<footer class="footer">
  <div class="container-fluid">
    <address class="mb-0">
      2020 &copy; “AHUB”, Global Agrihub LLC<br />
      610 W. Broadway 201, Jackson, WY 83001<br />
      +1 (307) 333-08-68<br />
      ahub.com<br />
    </address>
  </div>

</footer>