<div class="modal" id="launch-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header mb-4">
        <div class="language language__en">
          <h2>Would you like to be among the first who will get notified about the project launch ?</h2>
          <p class="lead">Leave you address below and you will be sent a notification when the project is launched.</p>
        </div>

        <div class="language language__ru">
          <h2>Хотите одним из первых узнать о запуске проекта?</h2>
          <p class="lead">Оставьте адрес своей электронной почты и мы пришлем на него уведомление о запуске проекта</p>
        </div>

        <div class="language language__es">
          <h2>¿Quiere ser uno de los primeros en saber sobre el lanzamiento del proyecto?</h2>
          <p class="lead">Deje su dirección de correo electrónico y le enviaremos una notificación sobre el lanzamiento del proyecto.</p>
        </div>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="icon-ahub-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <form action="mailer.php" method="POST" class="launch-form" id="launch-form">
          <div class="language language__en">
            <div class="form-group form-group-launch">
              <input type="email" name="emailEn" class="form-control" placeholder="Email" id="emailEn">
            </div>

            <p class="fs-12">By clicking on Get notified about the launch you are agreeing to the AHUB Terms and Conditions.</p>

            <div class="d-flex align-item-center justify-content-between mt-5">
              <button type="button" class="btn btn-link px-0 text-uppercase mr-4" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary text-uppercase btn-submit" disabled>Get me notified</button>
            </div>
          </div>

          <div class="language language__ru">
            <div class="form-group form-group-launch">
              <input type="email" name="emailRu" class="form-control" placeholder="Email" id="emailRu">
            </div>

            <p class="fs-12">Нажимая «Узнать о запуске» вы соглашаетесь с Условиями
              и Политикой конфиденциальности AHUB.</p>

            <div class="d-flex align-item-center justify-content-between mt-5">
              <button type="button" class="btn btn-link px-0 text-uppercase mr-4" data-dismiss="modal">отмена</button>
              <button type="submit" class="btn btn-primary text-uppercase btn-submit" disabled>Узнать о запуске</button>
            </div>
          </div>

          <div class="language language__es">
            <div class="form-group form-group-launch">
              <input type="email" name="emailEs" class="form-control" placeholder="Email" id="emailEs">
            </div>

            <p class="fs-12">Al hacer clic en "Saber sobre el lanzamiento ", acepta los Términos y Condiciones y la Política de privacidad de AHUB.</p>

            <div class="d-flex align-item-center justify-content-between mt-5">
              <button type="button" class="btn btn-link px-0 text-uppercase mr-4" data-dismiss="modal">Cancelación</button>
              <button type="submit" class="btn btn-primary text-uppercase btn-submit" disabled>Saber sobre el lanzamiento</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="welcome-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header mb-4">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="icon-ahub-close"></i>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="modal-success-box"></div>

        <div class="language language__en">
          <h2>You will be notified about the project launch</h2>
          <p class="lead mb-5">You have successfully subscribed! You will receive an email with the project launch notification.</p>
          <button type="button" class="btn btn-primary text-uppercase btn-equal" data-dismiss="modal">OK</button>
        </div>

        <div class="language language__ru">
          <h2>Мы сообщим вам о старте проекта</h2>
          <p class="lead mb-5">Вы успешно подписались! Вам придет письмо с уведомлением о запуске проекта</p>
          <button type="button" class="btn btn-primary text-uppercase btn-equal" data-dismiss="modal">Хорошо</button>
        </div>

        <div class="language language__es">
          <h2>¡Se ha suscrito correctamente!</h2>
          <p class="lead mb-5">Recibirá una carta que le notificará sobre el lanzamiento del proyecto.</p>
          <button type="button" class="btn btn-primary text-uppercase btn-equal" data-dismiss="modal">Bien</button>
        </div>


      </div>
    </div>
  </div>
</div>



<div class="modal modal--static" id="video-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content p-0 rounded-0">
      <button type="button" class="close close--floated" data-dismiss="modal" aria-label="Close">
        <i class="icon-ahub-close"></i>
      </button>

      <div class="modal-body p-0">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ruFtMWHvE98?rel=0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>