/* BUTTONS */
.btn {
  @extend .font-primary-bold;
  border-radius: $base-radius;
  padding: 12.5px 22px;
  @extend .shadow-none;

  &.disabled,
  &:disabled {
    cursor: not-allowed;
  }

  &-primary {
    @include button-variants($bg: $primary, $color: $white);

    &.disabled,
    &:disabled {
      background-color: $primary;
      border-color: $primary;
      opacity: 0.5;
    }
  }

  &-link {
    color: $black;

    &:focus,
    &:hover {
      text-decoration: none;
      color: $primary;
    }
  }

  &-equal {
    min-width: 103px;
  }
}