/* CONTENT */
.content {
  @extend .flex-fill, .position-relative, .d-md-flex, .justify-content-md-center, .flex-md-column, .align-items-md-start;
  padding-top: 64px;
  padding-bottom: 64px;
  @include media-breakpoint-up(lg) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  > .container {
    @extend .d-flex, .flex-fill;
    @media (max-width: 2200px) {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    @media (min-width: 2200px) {
      transform: translateX(-30%);
    }
  }
}

.content-row {
  @extend .w-100, .d-flex;

  > [class^="col"] {
    position: static;
  }
}

.content-box {
  @media only screen and (min-width: 991px) and (max-width: 1199px) {
    min-width: 320px;
    max-width: 320px;
  }
  @media only screen and (min-width: 1200px) and (max-width: 2200px) {
    min-width: 500px;
    max-width: 500px;
  }
}