/* DROPDOWN */
.dropdown-menu {
  @extend .border-0;
  border-radius: $base-radius;
  box-shadow: 2px 6px 16px rgba(25, 36, 54, 0.1);
  padding: 16px;
}

.dropdown-header {
  @extend .pl-0, .py-0, .position-relative, .text-gray;
  font-size: 14px;
  margin-bottom: 16px;
}

.dropdown-item {
  @extend .m-0;
  border-radius: $base-radius;
  padding: 12px 16px !important;
  color: $black;
  font-size: 16px;

  &:hover {
    @extend .bg-muted;
    color: $primary;
  }

  &.active {
    @extend .bg-muted;
    color: $black;

    &:hover {
      color: $primary;
    }
  }
}