/* FORMS */
$field-height: 48px;

.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	height: $field-height;
	border-color: $silver;
	color: $black;
	@include custom-placeholder($color: $gray, $font-size: 14px, $font-family: $font-primary-light);

	&:focus {
		@extend .shadow-none;
		@include custom-placeholder-opacity($opacity: 0);
		border-color: darken($silver, 15%);
	}
}

.form-group-success {
	@extend .position-relative, .font-icons, .icon-ahub-check-circle;

	&:before {
		@extend .text-success, .position-absolute;
		right: 12px;
		top: 11px;
		font-size: 18px;
	}

	> .form-control {
		padding-right: 50px;
	}
}

.form-group-launch {
	@extend .position-relative;
	padding-bottom: 16px;

	.invalid-feedback {
		@extend .position-absolute;
		left: 0;
		bottom: -2px;
	}
}

.launch-form {
	&.language {
		display: block;
	}
}