/* MODAL */
$modal-success-box-size: 168px;

.modal {
  z-index: 1340;

  .close {
    opacity: 1;
    position: absolute;
    top: 16px;
    right: 16px;
    text-shadow: none;

    &.close--floated {
      top: -32px;
      right: -3px;
      @include media-breakpoint-up(lg) {
        top: -2px;
        right: -32px;
      }
    }
  }

  .ytp-chrome-top {
    @extend .bg-black;
  }
}

.modal-content {
  @extend .border-0;
  border-radius: 19px;
  box-shadow: 8px 16px 40px 0 rgba(25, 36, 54, 0.14);
  padding: 36px 24px;
  @include media-breakpoint-up(md) {
    padding: 36px 48px;
  }
}

.modal-dialog {
  @include media-breakpoint-up(md) {
    max-width: 552px;
  }

  &.modal-xl {
    @include media-breakpoint-up(lg) {
      max-width: 800px;
    }
  }
}

.modal-backdrop {
  backdrop-filter: blur(40px);
  background-color: rgba(244, 244, 244, .48);
  z-index: 1240;

  &.fade {
    opacity: 1;
  }

  &.show {
    opacity: 1;
  }
}

.modal-body,
.modal-header {
  @extend .border-0, .p-0;
}

.modal-success-box {
  @extend .mx-auto, .bg-muted, .d-flex, .align-items-center, .justify-content-center, .text-success, .rounded-circle, .mb-4, .font-icons, .icon-ahub-check;
  width: $modal-success-box-size;
  height: $modal-success-box-size;
  font-size: 60px;
}

.modal-video-btn {
  width: 72px;
  height: 72px;
  background: linear-gradient(45deg, #16993B 0%, #63C56C 82.81%);
  box-shadow: 6px 8px 32px rgba(23, 205, 74, 0.24);
  border-radius: 50%;
  @extend .d-flex, .align-items-center, .justify-content-center, .text-white, .rounded-circle, .border-0;
  font-size: 24px;
  margin-bottom: 25px;
  @include media-breakpoint-up(lg) {
    margin-bottom: 110px;
  }
}