/* SELECT */
.select {
  &.show {
    .dropdown-toggle {
      &:after {
        transform: rotate(-180deg);
      }
    }
  }

  .dropdown-toggle {
    @extend .p-0, .border-0, .shadow-none;
    background-color: transparent !important;

    &:after {
      position: relative;
      z-index: 1050;
    }
  }

  .dropdown-menu {
    min-width: 152px;
    left: auto !important;
    right: -16px !important;
    top: -15px !important;
    transform: none !important;
  }
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus+.dropdown-toggle {
  outline: none !important;
}