/* CARDS */
$tile-size: 264px;
$tile-xl-size: 362px;
$tile-xxl-size: 238px;
$tile-lg-size: 224px;
$tile-md-size: 200px;
$tile-sm-size: 201px;
$tile-ssm-size: 190px;
$tile-xs-size: 85px;
$tile-wide: 360px;
$tile-huge: 492px;

.tiles {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(1, 592px 492px);
  @include media-breakpoint-down(sm) {
    transform: scale(0.8) !important;
    transform-origin: 0 50%;
  }
  @include media-breakpoint-down(md) {
    width: 300px;
  }
  @include media-breakpoint-down(xs) {
    transform: scale(0.65) !important;
    transform-origin: 0 50%;
  }
  @include media-breakpoint-up(lg) {
    position: absolute;
    left: 340px;
    top: 50%;
    margin-top: -325px;
  }
  @include media-breakpoint-up(xl) {
    left: 540px;
  }
  @media (min-width: 2200px) {
    position: static;
    transform: translateY(15%);
  }
}

.tiles__row {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(1, 1fr);
}

.tiles__col-top-left {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(1, 264px 312px);
}

.tile {
  width: $tile-size;
  border-radius: $base-radius * 3;

  &--has-shadow {
    box-shadow: 4px 10px 24px rgba(25, 36, 54, 0.1);
  }
}

.tiles__col-top-left-right {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(1, 1fr);
}

.tiles__col-top-left-right-top {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr);

  .tile {
    width: 200px;
  }
}

.tiles__col-top-left-right-bottom {
  .tile {
    height: 150px;
    width: 100%;
  }
}

.tiles__col-bottom-left {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(1, 1fr 224px 186px);
}

.tiles__col-bottom-left-middle {
  .tile {
    height: 224px;
    width: 100%;
  }
}

.tiles__col-bottom-left-right {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(1, 1fr);
}

.tiles__col-bottom-left-right-top {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

.tiles__col-bottom-left-right-bottom {
  .tile {
    height: 168px;
    width: 100%;
  }
}

.tiles__col-top-right {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(1, 1fr);
}

.tiles__col-top-right-bottom {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(1, 1fr);
}

.tiles__col-top-right-bottom-top {
  padding-top: 10px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr);

  .tile {
    width: 100%;
    height: 100%;
  }
}

.tiles__col-top-right-bottom-bottom {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(1, 351px 1fr);

  .tile {
    width: 100%;
    height: 168px;
  }
}

.tile-img {
  @extend .w-100;
  border-radius: $base-radius * 3;
}

.tile-box {
  @extend .d-flex, .align-items-center, .justify-content-center;
  border-radius: $base-radius * 3;
  background-color: $muted;
  width: $tile-xs-size;
  height: $tile-xs-size;

  &--rounded {
    border-radius: 9999px;
  }

  &--has-top-gap {
    margin-top: 106px;
    margin-bottom: 36px;
  }
}

.tile-box__icon {
  font-size: 26px;
}