/* TOOLTIP */
.tooltip {
  font-size: 14px;

  .arrow {
    &:before {
      opacity: 0.9;
    }
  }

  &[x-placement^=right] {
    .arrow {
      &:before {
        border-right-color: #222222;
      }
    }
  }
}

.tooltip-inner {
  background-color: #222222;
  padding: 8.5px 16px;
  text-align: left;
}